body {
    padding: 25px;
    margin: auto;
    max-width: 75ch;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

    blockquote {
        border-left: 3px solid rgba(0, 0, 0, 0.1);
        padding-left: 16px;
        color: rgba(0, 0, 0, 0.65);
        margin: 0 2px;
    }

    hr {
        background-color: rgb(220, 220, 220);
        height: 1px;
        border: 0;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    a {
        color: #0069c2;
        text-decoration: none;
    }

    a:visited {
        color: #551a8b;
    }

    code {
        background-color: #f0f0f0;  /* A light grey background */
        padding: 2px 4px;  /* Optional: adds some spacing around the code */
        border-radius: 4px;  /* Optional: rounds the corners */
    }
}

body > div {
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(18, 18, 18);
        color: rgb(176, 176, 176);

        blockquote {
            color: rgba(255, 255, 255, 0.6);
            border-left-color: rgba(255, 255, 255, 0.15);
        }

        a {
            color: #8cb4ff;
            text-decoration: none;
        }

        a:visited {
            color: #ffadff;
        }

        hr {
            background-color: rgb(62, 62, 62);
            height: 1px;
            border: 0;
        }

        code {
            background-color: #2d2d2d;  /* Dark grey */
            color: #d4d4d4;  /* Light grey text */
        }
    }
}