body {
    padding: 25px;
    max-width: max-content;
    margin: auto;
    max-width: 75ch;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

    h1,h2,h3,h4,h5,h6 {
font-family: system-ui, sans-serif;
    }
    
    h1 {
        font-size: 24px;
    }


    a {
        color: #0069c2
    }

    a:visited {
        color: #551a8b;
    }
}

body>div {
    margin: auto;
}


@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;

        a {
            color: #8cb4ff
        }

        a:visited {
            color: #ffadff;
        }
    }
}